*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 10px;
}
/* ----------Nevigation-Menu-and-hero-section-start---------- */
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
.logo {
    padding: 10px 0px;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    margin-top: 15px;
    }
nav ul{
    display: inline-block;
    list-style: none;
} 
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{ 
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    padding: 50px 0;
    cursor: pointer;
}
.col-2 h1{
    font-size: 4rem;
    line-height: 50px;
    margin: 20px 0px;
}

.btn{
    display: inline-block;
    background: rgb(200 87 94);
    border: 1px solid rgb(200 87 94);
    color: rgb(255 255 255);
    padding: 12px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.6rem;
}
.btn:hover{
    transition: .5s linear;
    color: black;
    background-color: transparent;
    border: 1px solid rgb(200 87 94);
}
/* ----------Nevigation-Menu-and-hero-section-end---------- */
/* -----------------Featured-canegories-start------------- */
.small-container{
    max-width: 80%;
    margin: 35px auto;
    padding: 0px 25px;
}
/* .row{
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
} */
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin: 15px 15px;
}
.col-3 img{
    width: 100%;
    cursor: pointer;
}
/* -----------------Featured-products-end------------- */
/* -----------------Latest-Products-start------------- */

.product-row{
    margin: 10px 0 25px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col-4{  
    flex-basis: 24%;
    cursor: pointer;
    padding: 8px;
    min-width: 200px;
    border: 1px solid rgb(206, 206, 206);
    margin: 10px 5px;
    transition: .5s linear;
    box-shadow: 0 0 2px 0 #868585;
    transition: transform 0.5s;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-4-img img{
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
}
.title{
    font-size: 2rem;
    text-align: center;
    position: relative;
    line-height: 40px;
    color: rgb(66, 65, 65);
}
.bottom-line{
    height: 4px;
    width: 110px;
    background-color: rgb(200 87 94);
    margin: 0px auto 15px;
}
.rating .fa{
    line-height: 25px;
    color: rgb(200 87 94);
}
h4{
    color: #555;
    font-weight: normal;
}
.product-row p{
    font-size: 14px;
}
/* -----------------Latest-Products-end------------- */
/* ---------------------offer-section-start-------------- */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
}
.offer-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.offer-row>.col-2-text{
    padding: 0px 80px 0px 0px;
}
/* ---------- testimonial -------------- */
/* .testimonial{
    padding-top:50px;
} */
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 5px 0 #868585;
    cursor: pointer;
    transition: transform 0.5s;
}
.fa-quote-left{
    font-size: 34px;
    color: rgb(200 87 94);
}
.testimonial img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 p{
    font-size: 12px 0;
    margin: 12px;
    color: #777;
}
.testimonial .col-3 h3{
    font-size: 16px;
    font-weight: 600;
    color: #555;
}
/* -----brand------- */
.brands{
    margin: 50px 0px;
    padding: 10px;
}
.col-5{
    width: 100px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* --------footer--------- */
.footer{
    background: #000;
    color: #868585;
    font-size: 15px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 220px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    text-align: left;
}
.app-logo{
    margin-top: 15px;
}
.app-logo img{
    width: 140px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.footer-col-2{
    flex-basis: 30%;
}
.footer-col-2 img{
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-col-3 ul, .footer-col-4 ul{
    list-style: none;
}
.Copyright{
    margin-top: 15px;
    text-align: center;
}