*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
.logo {
    padding: 10px 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: inline-block;
    list-style: none;
} 
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{ 
    text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    display: flex;
    margin: 0 auto;
    max-width: 60%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
}
.btn{
    display: inline-block;
    background: rgb(247 223 87);
    color: rgb(14, 12, 12);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}