.container{
    max-width: 90%;
    margin: auto;
    padding: 0 5%;
}
a{
    color: #555;
}
h4{
    font-size: 1.5rem;
}
p{
    color: #555;
    font-size: 1.6rem;
}
.fa{
    line-height: 15px;
}
hr{
    background: #555;
    height: 1px;
    border: none;
}
.menu-icon{
    width: 28px;
    margin-top: -28px;
    margin-left: 45px;
    display: none;
}